In [ ]:
cursor.execute('SELECT * FROM locations LIMIT 1')
record = cursor.fetchone()
# [1, 44, 45]

In [37]:
class Location:
    __table__ = 'locations'
    attributes = ['id', 'longitude', 'latitude']

In [38]:
Location()

In [47]:
class Venue:
    __table__ = 'venues'
    attributes = ['id', 'name', 'cuisine']

In [ ]:
def find_all(Class):
    f"SELECT * FROM {Class.__table__};"

def find(Class, id):
    query = f"SELECT * FROM {Class.__table__} WHERE id = %s;"
    cursor.execute(query, (id,))
    record = cursor.fetchone() 
    return build_from_record(Class, record)
#     record = [1, 'Los Tacos', 'Tex Mex']

In [4]:
record = [1, 44, 45]

In [27]:
record = [1, 'Los Tacos', 'Tex Mex']

In [ ]:
build_from_record(Venue, record)

In [26]:
def build_from_record(Class, record):
    obj = Class()
    attr = dict(zip(Class.attributes, record))
    obj.__dict__ = attr
    return obj

In [31]:
record = [1, 'Los Tacos', 'Tex Mex']

los_tacos = build_from_record(Venue, record)

In [36]:
los_tacos.__dict__

{'id': 1, 'name': 'Los Tacos', 'cuisine': 'Tex Mex'}

In [7]:
location = Location()

In [18]:
attr = dict(zip(Location.attributes, record))

In [19]:
location.__dict__ = attr

In [21]:
location.latitude

45

In [10]:
location.__dict__ = {'id': 1, 'longitude': 44, 'latitude': 45}

In [12]:
location.longitude

44

In [39]:
import psycopg2

In [42]:
conn = psycopg2.connect(dbname = 'test_foursquare', user = 'postgres', password = 'postgres')

In [43]:
cursor = conn.cursor()

In [44]:
cursor.execute('''SELECT * FROM venues;''')